<% layout("/layouts/boilerplate")%>

    <body>
        <h1>Add Question</h1>
        <form method="POST" action="/listings">


            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="listing[topic]">Enter Question</label>
                    <input class="form-control" id="question" name="question" placeholder="Enter question" required>
                    </input>
                </div>
            </div>
            <br>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="listing[subject]">Select Subject :</label>
                    <select class="form-control" id="subject" name="subject">
                        </option>
                        <% subject.forEach(function(subject){ %>
                            <option value="<%= subject %>">
                                <%= subject %>
                            </option>
                            <% }); %>
                    </select>
                </div>
            </div>
            <br>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="listing[topic]">Select Topic:</label>
                    <input class="form-control" id="Topic" name="topic" placeholder="Enter Topic" required>
                    </input>
                </div>
            </div>
            <br>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="listing[difficulty]">Select Difficulty:</label>
                    <select class="form-control" id="subject" name="difficulty">
                        <option value="Easy">Easy</option>
                        <option value="Medium">Medium</option>
                        <option value="Hard">Hard</option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
            </div>
            <br>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="listing[marks]">Select Marks:</label>
                    <select class="form-control" id="subject" name="marks">
                        <option value="1">1</option>
                        <option value="2    ">2</option>
                        <option value="3">3</option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
            </div>
            <br>
            <input type="submit" class="btn btn-success" value="ADD QUESTION" />
        </form>

    </body>